{% load static %}
{% load my_tags %}
{% include 'includes/header_reference.html' %}
<body>

<div class="flex flex-col min-h-screen bg-background">
    <!-- header -->
    {% include 'includes/header.html' %}
    <!-- end header -->


    <main class="flex-auto py-5">
        <div x-data="{ modalOpen: false }">
            <!-- container -->
            <div class="max-w-7xl space-y-14 px-4 mx-auto">
                <div class="flex md:flex-nowrap flex-wrap items-start gap-5">
                    <div class="md:w-8/12 w-full">
                        <!-- section:title -->
                        <div
                                class="flex items-center justify-between gap-8 bg-gradient-to-l from-secondary to-background rounded-2xl p-5">
                            <div class="flex items-center gap-5">
                                    <span
                                            class="flex items-center justify-center w-12 h-12 bg-primary text-primary-foreground rounded-full">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                             class="w-5 h-5">
                                            <path fill-rule="evenodd"
                                                  d="M9.664 1.319a.75.75 0 0 1 .672 0 41.059 41.059 0 0 1 8.198 5.424.75.75 0 0 1-.254 1.285 31.372 31.372 0 0 0-7.86 3.83.75.75 0 0 1-.84 0 31.508 31.508 0 0 0-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 0 1 3.305-2.033.75.75 0 0 0-.714-1.319 37 37 0 0 0-3.446 2.12A2.216 2.216 0 0 0 6 9.393v.38a31.293 31.293 0 0 0-4.28-1.746.75.75 0 0 1-.254-1.285 41.059 41.059 0 0 1 8.198-5.424ZM6 11.459a29.848 29.848 0 0 0-2.455-1.158 41.029 41.029 0 0 0-.39 3.114.75.75 0 0 0 .419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 1 0 1.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 0 1 3.095 2.348.75.75 0 0 0 .992 0 26.547 26.547 0 0 1 5.93-3.95.75.75 0 0 0 .42-.739 41.053 41.053 0 0 0-.39-3.114 29.925 29.925 0 0 0-5.199 2.801 2.25 2.25 0 0 1-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 0 1-1.084 3.45 26.503 26.503 0 0 0-1.281-.78A5.487 5.487 0 0 0 6 12v-.54Z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </span>
                                <div class="flex flex-col space-y-2">
                                    <span class="font-black xs:text-2xl text-lg text-primary">سبد خرید شما</span>
                                    <span class="font-semibold text-xs text-muted">{{ request.cart_item_count }} دوره به سبد اضافه کرده اید</span>
                                </div>
                            </div>
                        </div>
                        <!-- end section:title -->


                        <!-- cart-items:wrapper -->
                        <div class="divide-y divide-dashed divide-border">
                            <!-- cart-item -->
                            {% for item in cart %}
                                <div class="flex sm:flex-nowrap flex-wrap items-start gap-8 relative py-6">
                                    <div class="sm:w-4/12 w-full relative z-10">
                                        <a href="{% url 'home:course_detail' item.id %}" class="block">
                                            <img src="{{ item.product.image.url }}" class="max-w-full rounded-3xl"
                                                 alt="..."/>
                                        </a>
                                    </div>

                                    <div class="sm:w-8/12 w-full">
                                        <div class="bg-gradient-to-b from-secondary to-background rounded-3xl">
                                            <div class="bg-background rounded-b-3xl space-y-2 p-5 mx-5">
                                                <div class="flex items-center gap-2">
                                                    <span class="block w-1 h-1 bg-success rounded-full"></span>
                                                    {% if item.product.is_compeleted %}
                                                        <span class="font-bold text-xs text-success">تکمیل شده</span>
                                                    {% else %}
                                                        <span class="font-bold text-xs text-red-500">تکمیل نشده</span>
                                                    {% endif %}
                                                </div>
                                                <h2 class="font-bold text-sm">
                                                    <a href="{% url 'home:course_detail' item.id %}"
                                                       class="line-clamp-1 text-foreground transition-colors hover:text-primary">
                                                        {{ item.product.title }}</a>
                                                </h2>
                                            </div>
                                            <div class="space-y-3 p-5">
                                                <div class="flex flex-wrap items-center gap-3">
                                                    <span class="block w-1 h-1 bg-muted-foreground rounded-full"></span>
                                                </div>

                                                <div class="flex items-center justify-between gap-5">
                                                    <div class="flex items-center gap-3">
                                                        <div
                                                                class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                                            <img src="{% static 'images/avatars/01.jpeg' %}"
                                                                 class="w-full h-full object-cover" alt="..."/>
                                                        </div>
                                                        <div class="flex flex-col items-start space-y-1">
                                                            <span
                                                                    class="line-clamp-1 font-semibold text-xs text-muted">مدرس
                                                                دوره:</span>
                                                            <a href="#"
                                                               class="line-clamp-1 font-bold text-xs text-foreground hover:text-primary">
                                                                {{ item.product.author }}</a>
                                                        </div>
                                                    </div>
                                                    <div class="flex flex-col items-end justify-center h-14">
                                                        {% if item.product.main_price %}
                                                            <span class="line-through text-muted">{{ item.product.main_price }}</span>
                                                            <div class="flex items-center gap-1">
                                                                <span class="font-black text-xl text-foreground">{{ item.product.discount_price }}</span>
                                                                <span class="text-xs text-muted">تومان</span>
                                                            </div>
                                                        {% else %}
                                                            <div class="flex items-center gap-1">
                                                                <span class="font-black text-xl text-foreground">{{ item.product.discount_price }}</span>
                                                                <span class="text-xs text-muted">تومان</span>
                                                            </div>
                                                        {% endif %}


                                                    </div>

                                                </div>

                                                <div class="flex gap-3 mt-3">
                                                    <a href="{% url 'home:course_detail' item.id %}"
                                                       class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                        <span class="line-clamp-1 font-semibold text-sm">مشاهده
                                                            دوره</span>
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                             fill="currentColor" class="w-5 h-5">
                                                            <path fill-rule="evenodd"
                                                                  d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                                                  clip-rule="evenodd"></path>
                                                        </svg>
                                                    </a>

                                                    <div x-data="{ confirmDelete: false }">
                                                        <!-- Delete Button -->
                                                        <button
                                                                class="flex items-center justify-center w-10 h-10 rounded-full bg-red-500 text-white transition-colors hover:bg-red-600"
                                                                @click="confirmDelete = true">
                                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                 viewBox="0 0 24 24" stroke="currentColor"
                                                                 class="w-6 h-6">
                                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                                      d="M6 18L18 6M6 6l12 12"></path>
                                                            </svg>
                                                        </button>

                                                        <!-- Confirmation Modal -->
                                                        <div x-show="confirmDelete"
                                                             x-transition:enter="transition ease-out duration-300"
                                                             x-transition:enter-start="opacity-0 scale-90"
                                                             x-transition:enter-end="opacity-100 scale-100"
                                                             x-transition:leave="transition ease-in duration-200"
                                                             x-transition:leave-start="opacity-100 scale-100"
                                                             x-transition:leave-end="opacity-0 scale-90"
                                                             class="fixed top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-50">
                                                            <div class="p-6 bg-white rounded-md shadow-md">
                                                                <p class="text-lg text-gray-800">آیا از حذف دوره از سبد
                                                                    اطمینان دارید؟</p>

                                                                <!-- Modal Footer -->
                                                                <div class="flex items-center gap-x-4 border-t border-border p-4">
                                                                    <button type="button"
                                                                            class="flex items-center justify-center gap-x-2 w-full bg-background border border-border rounded-xl text-foreground py-2 px-4"
                                                                            @click="confirmDelete = false">
                                                                        <span class="font-bold text-xs">لغو</span>
                                                                    </button>
                                                                    <a href="{% url 'cart:cart_delete' item.id %}"
                                                                       class="flex items-center justify-center gap-x-2 w-full bg-error border border-transparent rounded-xl text-error-foreground py-2 px-4">
                                                                        <span class="font-bold text-xs">آره، حذف کن</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            <!-- end cart-item -->

                            <!-- end cart-item -->
                        </div>
                        <!-- end cart-items:wrapper -->
                    </div>

                    <!-- cart:detail -->
                    <div class="md:w-4/12 w-full md:sticky md:top-24">
                        <div class="space-y-5">
                            <div class="bg-gradient-to-b from-secondary to-background rounded-2xl px-5 pb-5">
                                <div class="bg-background rounded-b-3xl space-y-2 p-5 mb-5">
                                    <div class="flex items-center gap-3">
                                        <div class="flex items-center gap-1">
                                            <div class="w-1 h-1 bg-foreground rounded-full"></div>
                                            <div class="w-2 h-2 bg-foreground rounded-full"></div>
                                        </div>
                                        <div class="font-black text-foreground">اطلاعات خرید</div>
                                    </div>
                                </div>
                                <div class="space-y-5">
                                    <div class="flex flex-col space-y-2">
                                        <div class="flex items-center justify-between gap-3">
                                            <div class="font-bold text-xs text-foreground">جمع کل</div>
                                            <div class="flex items-center gap-1">
                                                <span class="font-black text-base text-foreground">{{ cart.total_price|floatformat:"0" }}</span>
                                                <span class="text-xs text-muted">تومان</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="h-px bg-secondary"></div>
                                    <div class="flex items-center justify-between gap-3 text-primary">
                                        <div class="font-bold text-sm text-foreground">مبلغ قابل پرداخت</div>
                                        <div class="flex items-center gap-1">
                                            <span class="font-black text-xl text-foreground">{{ cart.total_price|floatformat:"0" }}</span>
                                            <span class="text-xs text-muted">تومان</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a type="submit" href="{% url 'cart:order_create' %}"
                               class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                <span class="font-semibold text-sm">تکمیل فرایند خرید</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     class="w-5 h-5">
                                    <path fill-rule="evenodd"
                                          d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <!-- end cart:detail -->
                </div>

                <!-- section:latest-courses -->
                <div class="space-y-8">
                    <!-- section:title -->
                    <div
                            class="flex items-center justify-between gap-8 bg-gradient-to-l from-secondary to-background rounded-2xl p-5">
                        <div class="flex items-center gap-5">
                                <span
                                        class="flex items-center justify-center w-12 h-12 bg-primary text-primary-foreground rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                         class="w-5 h-5">
                                        <path fill-rule="evenodd"
                                              d="M9.664 1.319a.75.75 0 0 1 .672 0 41.059 41.059 0 0 1 8.198 5.424.75.75 0 0 1-.254 1.285 31.372 31.372 0 0 0-7.86 3.83.75.75 0 0 1-.84 0 31.508 31.508 0 0 0-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 0 1 3.305-2.033.75.75 0 0 0-.714-1.319 37 37 0 0 0-3.446 2.12A2.216 2.216 0 0 0 6 9.393v.38a31.293 31.293 0 0 0-4.28-1.746.75.75 0 0 1-.254-1.285 41.059 41.059 0 0 1 8.198-5.424ZM6 11.459a29.848 29.848 0 0 0-2.455-1.158 41.029 41.029 0 0 0-.39 3.114.75.75 0 0 0 .419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 1 0 1.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 0 1 3.095 2.348.75.75 0 0 0 .992 0 26.547 26.547 0 0 1 5.93-3.95.75.75 0 0 0 .42-.739 41.053 41.053 0 0 0-.39-3.114 29.925 29.925 0 0 0-5.199 2.801 2.25 2.25 0 0 1-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 0 1-1.084 3.45 26.503 26.503 0 0 0-1.281-.78A5.487 5.487 0 0 0 6 12v-.54Z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                            <div class="flex flex-col font-black text-2xl space-y-2">
                                <span class="font-black xs:text-2xl text-lg text-primary">آخرین دوره های</span>
                                <span class="font-semibold xs:text-base text-sm text-foreground">منتشر شده</span>
                            </div>
                        </div>
                        <a href="{% url 'home:series' %}"
                           class="sm:w-auto w-11 h-11 inline-flex items-center justify-center gap-1 bg-secondary rounded-full text-foreground transition-colors hover:text-primary sm:px-4">
                            <span class="font-semibold text-sm sm:block hidden">مشاهده همه</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 class="w-5 h-5">
                                <path fill-rule="evenodd"
                                      d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                    <!-- end section:title -->

                    <!-- section:latest-courses:slider -->
                    {% include 'includes/series.html' %}
                    <!-- end section:latest-courses -->
                </div>
                <!-- end container -->

                <!-- modal:delete cart-item -->
                <!-- end modal:overlay -->
            </div>
        </div>

        <!-- end modal:delete cart-item -->
</div>
</main>

<!-- footer -->
{% include 'includes/footer.html' %}
<!-- end footer -->
</div>


<script src="{% static 'js/dependencies/alpinejs.min.js' %}"></script>
<script src="{% static 'js/dependencies/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/dependencies/plyr.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>

</html>