{% load static %}
{% include 'includes/header_reference.html' %}
<body>

<div class="flex flex-col min-h-screen bg-secondary">
    <!-- header -->
    {% include 'includes/header.html' %}
    <!-- end header -->
    <main class="flex-auto py-5">
        <div class="space-y-14">
            <!-- container -->
            <div class="max-w-7xl space-y-14 px-4 mx-auto">
                <!-- intro -->
                <div class="p-5">
                    <div

                            {% for advantage in advantages %}
                            class="flex lg:flex-nowrap flex-wrap lg:flex-row flex-col lg:items-center lg:justify-center gap-10 lg:py-16">
                        <div class="space-y-10">
                            <div class="space-y-5">
                                <div class="flex flex-wrap items-center gap-2">
                                        <span
                                                class="inline-flex items-center gap-1 bg-primary rounded-full font-semibold text-xs text-primary-foreground animate-pulse py-1 px-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                                 stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                                                <path stroke-linecap="round" stroke-linejoin="round"
                                                      d="m9 14.25 6-6m4.5-3.493V21.75l-3.75-1.5-3.75 1.5-3.75-1.5-3.75 1.5V4.757c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0c1.1.128 1.907 1.077 1.907 2.185ZM9.75 9h.008v.008H9.75V9Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm4.125 4.5h.008v.008h-.008V13.5Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"/>
                                            </svg>

                                            <span>جشنــــواره تخفیف !</span>
                                        </span>
                                    <span class="font-semibold text-xs text-primary">به زودی :)</span>
                                </div>
                                <h2 class="font-black sm:text-5xl text-3xl text-foreground">
                                    <br/>
                                    {{ advantage.title }}
                                </h2>
                                <p class="sm:text-base text-sm text-muted">
                                    {{ advantage.description }}
                                </p>
                                <div class="flex flex-wrap items-center gap-3">
                                    <a href="{% url 'home:series' %}"
                                       class="inline-flex items-center justify-center gap-1 h-11 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                            <span class="whitespace-nowrap font-semibold text-sm">شروع یادگیری
                                                برنامه‌نویسی</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                             fill="currentColor" class="w-5 h-5">
                                            <path fill-rule="evenodd"
                                                  d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                                  clip-rule="evenodd"></path>
                                        </svg>
                                    </a>
                                    <a href="{% url 'home:contact_us' %}"
                                       class="inline-flex items-center justify-center gap-1 h-11 bg-foreground rounded-full text-background transition-all hover:opacity-80 px-4">
                                        <span class="whitespace-nowrap font-semibold text-sm">مشـــاوره</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                             fill="currentColor" class="w-4 h-4">
                                            <path fill-rule="evenodd"
                                                  d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.223a1.5 1.5 0 0 1-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 0 0 6.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 0 1 1.767-1.052l3.223.716A1.5 1.5 0 0 1 18 15.352V16.5a1.5 1.5 0 0 1-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 0 1 2.43 8.326 13.019 13.019 0 0 1 2 5V3.5Z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="grid sm:grid-cols-2 gap-8">
                                <div class="flex items-center gap-3">
                                        <span
                                                class="relative before:content-[''] before:absolute before:-bottom-1 before:-right-2 before:w-6 before:h-6 before:bg-success/20 before:rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" class="w-6 h-6 text-success">
                                                <path fill-rule="evenodd"
                                                      d="M9.664 1.319a.75.75 0 0 1 .672 0 41.059 41.059 0 0 1 8.198 5.424.75.75 0 0 1-.254 1.285 31.372 31.372 0 0 0-7.86 3.83.75.75 0 0 1-.84 0 31.508 31.508 0 0 0-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 0 1 3.305-2.033.75.75 0 0 0-.714-1.319 37 37 0 0 0-3.446 2.12A2.216 2.216 0 0 0 6 9.393v.38a31.293 31.293 0 0 0-4.28-1.746.75.75 0 0 1-.254-1.285 41.059 41.059 0 0 1 8.198-5.424ZM6 11.459a29.848 29.848 0 0 0-2.455-1.158 41.029 41.029 0 0 0-.39 3.114.75.75 0 0 0 .419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 1 0 1.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 0 1 3.095 2.348.75.75 0 0 0 .992 0 26.547 26.547 0 0 1 5.93-3.95.75.75 0 0 0 .42-.739 41.053 41.053 0 0 0-.39-3.114 29.925 29.925 0 0 0-5.199 2.801 2.25 2.25 0 0 1-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 0 1-1.084 3.45 26.503 26.503 0 0 0-1.281-.78A5.487 5.487 0 0 0 6 12v-.54Z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </span>
                                    <span class="font-semibold text-sm text-foreground">بیش از 80 دوره آموزشی</span>
                                </div>

                                <div class="flex items-center gap-3">
                                        <span
                                                class="relative before:content-[''] before:absolute before:-bottom-1 before:-right-2 before:w-6 before:h-6 before:bg-warning/20 before:rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" class="w-6 h-6 text-warning">
                                                <path fill-rule="evenodd"
                                                      d="M1 4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4Zm12 4a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM4 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm13-1a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM1.75 14.5a.75.75 0 0 0 0 1.5c4.417 0 8.693.603 12.749 1.73 1.111.309 2.251-.512 2.251-1.696v-.784a.75.75 0 0 0-1.5 0v.784a.272.272 0 0 1-.35.25A49.043 49.043 0 0 0 1.75 14.5Z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </span>
                                    <span class="font-semibold text-sm text-foreground">ضمانت بازگشت وجه</span>
                                </div>

                                <div class="flex items-center gap-3">
                                        <span
                                                class="relative before:content-[''] before:absolute before:-bottom-1 before:-right-2 before:w-6 before:h-6 before:bg-primary/20 before:rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" class="w-6 h-6 text-primary">
                                                <path
                                                        d="M10.75 16.82A7.462 7.462 0 0 1 15 15.5c.71 0 1.396.098 2.046.282A.75.75 0 0 0 18 15.06v-11a.75.75 0 0 0-.546-.721A9.006 9.006 0 0 0 15 3a8.963 8.963 0 0 0-4.25 1.065V16.82ZM9.25 4.065A8.963 8.963 0 0 0 5 3c-.85 0-1.673.118-2.454.339A.75.75 0 0 0 2 4.06v11a.75.75 0 0 0 .954.721A7.506 7.506 0 0 1 5 15.5c1.579 0 3.042.487 4.25 1.32V4.065Z"/>
                                            </svg>
                                        </span>
                                    <span class="font-semibold text-sm text-foreground">یادگیری با تمرین و
                                            آزمون</span>
                                </div>

                                <div class="flex items-center gap-3">
                                        <span
                                                class="relative before:content-[''] before:absolute before:-bottom-1 before:-right-2 before:w-6 before:h-6 before:bg-info/20 before:rounded-full">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                 fill="currentColor" class="w-6 h-6 text-info">
                                                <path fill-rule="evenodd"
                                                      d="M2 3.5A1.5 1.5 0 0 1 3.5 2h1.148a1.5 1.5 0 0 1 1.465 1.175l.716 3.223a1.5 1.5 0 0 1-1.052 1.767l-.933.267c-.41.117-.643.555-.48.95a11.542 11.542 0 0 0 6.254 6.254c.395.163.833-.07.95-.48l.267-.933a1.5 1.5 0 0 1 1.767-1.052l3.223.716A1.5 1.5 0 0 1 18 15.352V16.5a1.5 1.5 0 0 1-1.5 1.5H15c-1.149 0-2.263-.15-3.326-.43A13.022 13.022 0 0 1 2.43 8.326 13.019 13.019 0 0 1 2 5V3.5Z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </span>
                                    <span class="font-semibold text-sm text-foreground">پشتیبانی ۲۴ساعته</span>
                                </div>
                            </div>
                        </div>
                        <div
                                class="flex-shrink-0 flex justify-center relative lg:w-96 w-full lg:order-2 -order-1 after:content-[''] after:absolute after:bottom-0 after:inset-x-0 after:h-7 after:bg-gradient-to-b after:from-transparent after:to-secondary">
                            <img src="{{ advantage.image.url }}" class="sm:w-96 max-w-full"
                                 alt="..."/>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- end intro -->

                <!-- latest-courses -->
                <div class="space-y-8">
                    <!-- section:title -->
                    <div
                            class="flex items-center justify-between gap-8 bg-gradient-to-r from-secondary to-background rounded-2xl p-5">
                        <div class="flex items-center gap-5">
                                <span
                                        class="flex items-center justify-center w-12 h-12 bg-primary text-primary-foreground rounded-full">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                         class="w-5 h-5">
                                        <path fill-rule="evenodd"
                                              d="M9.664 1.319a.75.75 0 0 1 .672 0 41.059 41.059 0 0 1 8.198 5.424.75.75 0 0 1-.254 1.285 31.372 31.372 0 0 0-7.86 3.83.75.75 0 0 1-.84 0 31.508 31.508 0 0 0-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 0 1 3.305-2.033.75.75 0 0 0-.714-1.319 37 37 0 0 0-3.446 2.12A2.216 2.216 0 0 0 6 9.393v.38a31.293 31.293 0 0 0-4.28-1.746.75.75 0 0 1-.254-1.285 41.059 41.059 0 0 1 8.198-5.424ZM6 11.459a29.848 29.848 0 0 0-2.455-1.158 41.029 41.029 0 0 0-.39 3.114.75.75 0 0 0 .419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 1 0 1.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 0 1 3.095 2.348.75.75 0 0 0 .992 0 26.547 26.547 0 0 1 5.93-3.95.75.75 0 0 0 .42-.739 41.053 41.053 0 0 0-.39-3.114 29.925 29.925 0 0 0-5.199 2.801 2.25 2.25 0 0 1-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 0 1-1.084 3.45 26.503 26.503 0 0 0-1.281-.78A5.487 5.487 0 0 0 6 12v-.54Z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </span>
                            <div class="flex flex-col space-y-2">
                                <span class="font-black xs:text-2xl text-lg text-primary">آخرین دوره های</span>
                                <span class="font-semibold xs:text-base text-sm text-foreground">منتشر شده</span>
                            </div>
                        </div>
                        <a href="{% url 'home:series' %}"
                           class="sm:w-auto w-11 h-11 inline-flex items-center justify-center gap-1 bg-background rounded-full text-foreground transition-colors hover:text-primary sm:px-4">
                            <span class="font-semibold text-sm sm:block hidden">مشاهده همه</span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 class="w-5 h-5">
                                <path fill-rule="evenodd"
                                      d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </a>
                    </div>
                    <!-- end section:title -->

                    <!-- section:latest-courses:slider -->
                    {% include 'includes/series.html' %}
                    <!-- end section:latest-courses:slider -->
                </div>
                <!-- end latest-courses -->

                <!-- counseling -->
                <div class="flex md:flex-nowrap flex-wrap items-start gap-10 py-14">
                    <div class="flex-grow space-y-8">
                        <div class="flex flex-col items-start space-y-3">
            <span class="text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                     stroke-width="1.5" stroke="currentColor" class="w-9 h-9">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"/>
                </svg>
            </span>
                            <h2 class="font-black text-3xl text-foreground">
                                {{ counseling_content.title }}
                            </h2>
                            <h2 class="font-black text-3xl text-foreground">
                                <span class="text-primary">{{ counseling_content.subtitle }}</span>
                            </h2>

                        </div>
                        <div class="text-justify space-y-3">
                            <p class="font-medium text-muted">{{ counseling_content.description }}</p>
                            <p class="font-bold text-foreground">
                                <!-- Additional text can be added here if needed -->
                            </p>
                        </div>
                    </div>
                    <div class="flex-shrink-0 flex justify-center md:w-72 w-full">
                        <div class="space-y-3">
                            <img src="{{ counseling_content.image.url }}" class="w-72 max-w-full rounded-3xl"
                                 alt="..."/>
                            <a href="{% url 'home:series' %}"
                               class="flex items-center justify-center gap-1 w-full h-11 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                <span class="font-semibold text-sm">{{ counseling_content.button_content }}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     class="w-5 h-5">
                                    <path fill-rule="evenodd"
                                          d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- end counseling -->
            </div>
            <!-- end container -->

            <!-- feedback -->

            <!-- container -->
            <div class="max-w-7xl space-y-14 px-4 mx-auto">
                <!-- articles -->
                <div
                        class="lg:flex lg:items-center lg:gap-10 bg-gradient-to-r from-secondary to-background rounded-2xl sm:p-10 p-5">
                    <div class="lg:w-4/12 flex items-start gap-5 lg:mb-0 mb-8">
                            <span
                                    class="flex-shrink-0 flex items-center justify-center w-12 h-12 bg-primary text-primary-foreground rounded-full">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                     class="w-5 h-5">
                                    <path fill-rule="evenodd"
                                          d="M9.664 1.319a.75.75 0 0 1 .672 0 41.059 41.059 0 0 1 8.198 5.424.75.75 0 0 1-.254 1.285 31.372 31.372 0 0 0-7.86 3.83.75.75 0 0 1-.84 0 31.508 31.508 0 0 0-2.08-1.287V9.394c0-.244.116-.463.302-.592a35.504 35.504 0 0 1 3.305-2.033.75.75 0 0 0-.714-1.319 37 37 0 0 0-3.446 2.12A2.216 2.216 0 0 0 6 9.393v.38a31.293 31.293 0 0 0-4.28-1.746.75.75 0 0 1-.254-1.285 41.059 41.059 0 0 1 8.198-5.424ZM6 11.459a29.848 29.848 0 0 0-2.455-1.158 41.029 41.029 0 0 0-.39 3.114.75.75 0 0 0 .419.74c.528.256 1.046.53 1.554.82-.21.324-.455.63-.739.914a.75.75 0 1 0 1.06 1.06c.37-.369.69-.77.96-1.193a26.61 26.61 0 0 1 3.095 2.348.75.75 0 0 0 .992 0 26.547 26.547 0 0 1 5.93-3.95.75.75 0 0 0 .42-.739 41.053 41.053 0 0 0-.39-3.114 29.925 29.925 0 0 0-5.199 2.801 2.25 2.25 0 0 1-2.514 0c-.41-.275-.826-.541-1.25-.797a6.985 6.985 0 0 1-1.084 3.45 26.503 26.503 0 0 0-1.281-.78A5.487 5.487 0 0 0 6 12v-.54Z"
                                          clip-rule="evenodd"></path>
                                </svg>
                            </span>
                        <div class="flex flex-col space-y-2">
                                <span class="font-black xs:text-2xl text-lg text-primary">از گوشه و اطراف دنیای
                                    برنامه‌نویسی</span>
                            <span class="font-semibold xs:text-base text-sm text-muted">
                                    نوشتن کار جالبیه که از هزاران سال همراه ما بوده و کمک کرده تا همیشه به روز باشیم، ما
                                    در نابغه فضای رو به شکلی آماده کردیم تا شما بتونید ایده‌ها و مطالب جالب حوزه
                                    برنامه‌نویسی رو در اختیار هزاران برنامه‌نویس عضو نابغه قرار بدید.
                                </span>
                        </div>
                    </div>
                    {% include 'includes/blog.html' %}

                </div>
            </div>
        </div>
        {% if messages %}
            <div class="notification-container">
                <ul class="messages space-y-2">
                    {% for message in messages %}
                        <li class="notification{% if message.tags %} {{ message.tags }}{% endif %}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <!-- end articles -->
</div>
<!-- end container -->

</main>

<!-- footer -->
{% include 'includes/footer.html' %}
</div>


<script src="{% static 'js/dependencies/alpinejs.min.js' %}"></script>
<script src="{% static 'js/dependencies/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/dependencies/plyr.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
<script>
    // Select all notification elements
    const notifications = document.querySelectorAll('.notification');

    notifications.forEach(notification => {
        // Set a timeout to slide down and then remove the notification after 3 seconds
        setTimeout(() => {
            notification.style.top = '20px'; // Move it down to the visible position
            setTimeout(() => {
                notification.style.opacity = '0'; // Fade out effect
                setTimeout(() => {
                    notification.remove(); // Remove the notification from the DOM after fading out
                }, 500); // Wait for the fade-out effect to finish
            }, 5000); // Wait for 2.5 seconds before starting to fade out
        }, 100); // Delay slightly to allow initial positioning
    });
</script>

</body>

</html>

<style>
    .notification-container {
        position: fixed; /* Fixed positioning */
        top: 20px; /* Distance from the top */
        right: 20px; /* Distance from the right */
        z-index: 1000; /* Ensure it appears above other content */
        max-width: 300px; /* Limit the width of the notification container */
    }

    .notification {
        position: fixed; /* Fixed positioning for individual notifications */
        top: -100px; /* Initial position off-screen */
        right: 50%; /* Centered on screen */
        transform: translateX(50%); /* Adjust positioning */
        z-index: 9999; /* Ensure it appears above other content */
        width: auto; /* Auto width for notification */
        padding: 10px 30px; /* Padding */
        border-radius: 30px; /* Rounded corners */
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Shadow effect */
        background: rgb(255, 255, 255); /* White background */
        color: #000000; /* Black text color for visibility */
        font-weight: bold; /* Bold text */
        font-size: 16px; /* Font size */
        text-align: center; /* Center text */
        letter-spacing: 1px; /* Letter spacing */
        opacity: 1; /* Ensure it's visible initially */
        transition: opacity 0.5s ease-out, top 0.5s ease-out; /* Transition for fade out */
    }

    .notification.success {
        background-color: #bbdefb; /* Lighter blue background for success */
        border-left: 4px solid #0d47a1; /* Darker blue border */
        color: #0d47a1; /* Darker blue text color */
    }
</style>