{% load static %}
{% load my_tags %}

{% include 'includes/header_reference.html' %}

<body class="bg-light">

<div class="d-flex flex-column min-vh-100">

    <!-- Header Section -->
    {% include 'includes/header.html' %}
    <!-- End Header Section -->
    {#    <style>#}
    {#        .product-image {#}
    {#            height: auto;#}
    {#            max-height: 200px;#}
    {#            object-fit: cover;#}
    {#        }#}
    {#    </style>#}

    <section class="search-container py-5">

        <br>

        {% if search %}

            {% if product %}

                <div class="swiper col3-swiper-slider">
                    <div class="swiper-wrapper">
                        {% for item in product %}
                            <div class="swiper-slide">
                                <!-- course:card -->
                                <div class="relative">
                                    <div class="relative z-10">
                                        <a href="{% url 'home:course_detail' item.id %}" class="block">
                                            <img src="{{ item.image.url }}" class="max-w-full rounded-3xl" alt="..."/>
                                        </a>
                                        <a href="{% url 'home:series' %}"
                                           class="absolute left-3 top-3 h-11 inline-flex items-center justify-center gap-1 bg-black/20 rounded-full text-white transition-all hover:opacity-80 px-4">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                 fill="currentColor" class="w-6 h-6">
                                                <path fill-rule="evenodd"
                                                      d="M3 6a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3V6ZM3 15.75a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3v-2.25Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3v-2.25Z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                            <span class="font-semibold text-sm">{{ item.language_kinds }}</span>
                                        </a>
                                    </div>
                                    <div class="bg-secondary rounded-b-3xl -mt-12 pt-12">
                                        <div class="bg-gradient-to-b from-secondary to-background rounded-b-3xl space-y-2 p-5 mx-5">
                                            <div class="flex items-center gap-2">
                                                <span class="block w-1 h-1 bg-success rounded-full"></span>
                                                {% if item.is_compeleted %}
                                                    <span class="font-bold text-xs text-success">تکمیل شده</span>
                                                {% else %}
                                                    <span class="font-bold text-xs text-red-500">تکمیل نشده</span>
                                                {% endif %}
                                            </div>
                                            <h2 class="font-bold text-sm">
                                                <a href="{% url 'home:course_detail' item.id %}"
                                                   class="line-clamp-1 text-foreground transition-colors hover:text-primary">
                                                    {{ item.title }}</a>
                                            </h2>
                                        </div>
                                        <div class="space-y-3 p-5">
                                            <div class="flex flex-wrap items-center gap-3">
                                                <div class="flex items-center gap-1 text-muted">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                         fill="currentColor" class="w-5 h-5">
                                                        <path d="M7 3.5A1.5 1.5 0 0 1 8.5 2h3.879a1.5 1.5 0 0 1 1.06.44l3.122 3.12A1.5 1.5 0 0 1 17 6.622V12.5a1.5 1.5 0 0 1-1.5 1.5h-1v-3.379a3 3 0 0 0-.879-2.121L10.5 5.379A3 3 0 0 0 8.379 4.5H7v-1Z"></path>
                                                        <path d="M4.5 6A1.5 1.5 0 0 0 3 7.5v9A1.5 1.5 0 0 0 4.5 18h7a1.5 1.5 0 0 0 1.5-1.5v-5.879a1.5 1.5 0 0 0-.44-1.06L9.44 6.439A1.5 1.5 0 0 0 8.378 6H4.5Z"></path>
                                                    </svg>
                                                    {% calculate_episodes_and_duration item as episode_data %}
                                                    <span class="font-semibold text-xs"> {{ episode_data.total_episodes }} قسمت </span>
                                                </div>
                                                <span class="block w-1 h-1 bg-muted-foreground rounded-full"></span>
                                                <div class="flex items-center gap-1 text-muted">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                         fill="currentColor" class="w-5 h-5">
                                                        <path fill-rule="evenodd"
                                                              d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-13a.75.75 0 0 0-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 0 0 0-1.5h-3.25V5Z"
                                                              clip-rule="evenodd"></path>
                                                    </svg>
                                                    <span class="font-semibold text-xs">{{ episode_data.total_duration }} ساعت </span>
                                                </div>
                                            </div>
                                            <div class="flex items-center justify-between gap-5">
                                                <div class="flex items-center gap-3">
                                                    <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                                        {% if request.user.profile_picture %}
                                                            <img src="{{ request.user.profile_picture.url }}"
                                                                 class="w-full h-full object-cover" alt="..."/>
                                                        {% else %}
                                                            <!-- You can add a default image or a placeholder here -->
                                                            <img src="{% static 'images/avatars/download.png' %}"
                                                                 class="w-full h-full object-cover" alt="..."/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="flex flex-col items-start space-y-1">
                                                        <span class="line-clamp-1 font-semibold text-xs text-muted">مدرس دوره:</span>
                                                        <a href="#"
                                                           class="line-clamp-1 font-bold text-xs text-foreground hover:text-primary">
                                                            {{ item.author }}</a>
                                                    </div>
                                                </div>
                                                {% if item.free == False %}
                                                    {% if item.main_price %}
                                                        <div class="flex flex-col items-end justify-center h-14">
                                                            <span class="line-through text-muted">{{ item.main_price }}</span>
                                                            <div class="flex items-center gap-1">
                                                                <span class="font-black text-xl text-foreground">{{ item.discount_price }}</span>
                                                                <span class="text-xs text-muted">تومان</span>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="flex items-center gap-1">
                                                            <span class="font-black text-xl text-foreground">{{ item.discount_price }}</span>
                                                            <span class="text-xs text-muted">تومان</span>
                                                        </div>
                                                    {% endif %}


                                                {% else %}
                                                    <div class="flex flex-col items-end justify-center h-14">
                                                        <div class="flex items-center gap-1">
                                                            <span class="font-black text-xl text-success">رایگان!</span>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="flex gap-3 mt-3">
                                                <a href="{% url 'home:course_detail' item.id %}"
                                                   class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                    <span class="line-clamp-1 font-semibold text-sm">مشاهده دوره</span>
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                         fill="currentColor" class="w-5 h-5">
                                                        <path fill-rule="evenodd"
                                                              d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                                              clip-rule="evenodd"></path>
                                                    </svg>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- end course:card -->
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <!-- end section:latest-courses:slider -->

            {% else %}
                <div class="alert alert-info text-center mt-4" role="alert">
                    <i class="fas fa-info-circle"></i>
                    <p class="fs-4">دوره‌ای یافت نشد.</p>
                </div>
            {% endif %}
        {% else %}
            <div class="alert alert-info text-center mt-4" role="alert">
                <i class="fas fa-info-circle"></i>
                <p class="fs-4">لطفا دوره‌ی مورد نظر خود را وارد کنید.</p>
            </div>
        {% endif %}
    </section>

    <style>
        @keyframes fadeIn {
            0% {
                opacity: 0;
                transform: translateY(-10px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fadeOut {
            0% {
                opacity: 1;
                transform: translateY(0);
            }
            100% {
                opacity: 0;
                transform: translateY(-10px);
            }
        }

        .swiper-slide {
            animation: fadeIn 1s ease-out;
        }

        /* Alert styles */
        .alert {
            background-color: #f0f4f8; /* Very light gray-blue background */
            color: #334155; /* Dark gray-blue text */
            border: 1px solid #cbd5e1; /* Light gray-blue border */
            padding: 16px;
            border-radius: 8px;
            display: flex;
            align-items: center;
            gap: 8px;
            opacity: 0; /* Start hidden */
            animation: fadeIn 0.5s forwards; /* Fade in on load */
        }

        .alert-warning {
            border-color: #fbd38d; /* Light yellow for warning */
            color: #b94e48; /* Dark red for warning text */
        }

        .alert-info {
            border-color: #bfdbfe; /* Light blue for info */
            color: #2563eb; /* Dark blue text for info */
        }

        .alert i {
            font-size: 24px; /* Icon size */
            color: currentColor; /* Match icon color with text */
        }

        .alert p {
            margin: 0;
            font-size: 1.25rem; /* Larger text */
        }

        /* Class to trigger fade-out animation */
        .alert.fade-out {
            animation: fadeOut 0.5s forwards; /* Fade out when class added */
        }
    </style>
    <!-- Footer Section -->
    {% include 'includes/footer.html' %}
</div>

<script src="{% static 'js/dependencies/alpinejs.min.js' %}"></script>
<script src="{% static 'js/dependencies/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/dependencies/plyr.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>