{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl" x-bind:class="darkMode ? 'dark' : ''" x-data="{ darkMode: false }">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{% static 'images/5947505626299089358.jpg' %}" />
    <link rel="stylesheet" href="{% static 'css/dependencies/swiper-bundle.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dependencies/plyr.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <title>ایگوفیت</title>
</head>
