{% load static %}
{% include "includes/header_reference.html" %}
{% if request.user.is_authenticated %}
    <body>

    <div class="flex flex-col min-h-screen bg-background">
        <!-- header -->
        {% include 'includes/header.html' %}
        <!-- end header -->

        <main class="flex-auto py-5">
            <div class="max-w-7xl space-y-14 px-4 mx-auto">
                <div class="grid md:grid-cols-12 grid-cols-1 items-start gap-5">
                    <div class="lg:col-span-3 md:col-span-4 md:sticky md:top-24">
                        <!-- user:info -->
                        <div class="flex items-center gap-5 mb-5">
                            <div class="flex items-center gap-3">
                                <div class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                    {% if request.user.profile_picture %}
                                        <img src="{{ request.user.profile_picture.url }}"
                                             class="w-full h-full object-cover"
                                             alt="..."/>
                                    {% else %}
                                        <!-- You can add a default image or a placeholder here -->
                                        <img src="{% static 'images/avatars/download.png' %}"
                                             class="w-full h-full object-cover"
                                             alt="..."/>
                                    {% endif %}
                                    alt="..."/>
                                </div>
                                <div class="flex flex-col items-start space-y-1">
                                    <span class="text-xs text-muted">خوش آمدید</span>
                                    <span class="line-clamp-1 font-semibold text-sm text-foreground cursor-default">
                                       {{ request.user.fullname }}</span>
                                </div>
                            </div>
                        </div>
                        <!-- end user:info -->

                        <!-- user:menus -->
                        <ul class="flex flex-col space-y-3 bg-secondary rounded-2xl p-5">
                            <li>
                                <a href="{% url 'register:profile' %}"
                                   class="w-full h-11 inline-flex items-center text-right gap-3 bg-background rounded-full text-muted transition-colors hover:bg-primary hover:text-primary-foreground px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 0 1-1.125-1.125v-3.75ZM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-8.25ZM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 0 1-1.125-1.125v-2.25Z"></path>
                                    </svg>
                                    <span class="font-semibold text-xs">پیشخوان</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register:profile_course' %}"
                                   class="w-full h-11 inline-flex items-center text-right gap-3 bg-primary rounded-full text-primary-foreground px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                         class="w-5 h-5">
                                        <path d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z"></path>
                                        <path d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z"></path>
                                        <path d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z"></path>
                                    </svg>
                                    <span class="font-semibold text-xs">دوره ها</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register:profile_notifications' %}"
                                   class="w-full h-11 inline-flex items-center text-right gap-3 bg-background rounded-full text-muted transition-colors hover:bg-primary hover:text-primary-foreground px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z">
                                        </path>
                                    </svg>
                                    <span class="font-semibold text-xs">اعلانات</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register:profile_financial' %}"
                                   class="w-full h-11 inline-flex items-center text-right gap-3 bg-background rounded-full text-muted transition-colors hover:bg-primary hover:text-primary-foreground px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M21 12a2.25 2.25 0 0 0-2.25-2.25H15a3 3 0 1 1-6 0H5.25A2.25 2.25 0 0 0 3 12m18 0v6a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 18v-6m18 0V9M3 12V9m18 0a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 9m18 0V6a2.25 2.25 0 0 0-2.25-2.25H5.25A2.25 2.25 0 0 0 3 6v3">
                                        </path>
                                    </svg>
                                    <span class="font-semibold text-xs">مالی و اشتراک</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register:profile_useredit' %}"
                                   class="w-full h-11 inline-flex items-center text-right gap-3 bg-background rounded-full text-muted transition-colors hover:bg-primary hover:text-primary-foreground px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"></path>
                                    </svg>
                                    <span class="font-semibold text-xs">ویرایش پروفایل</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register:profile_number_edit' %}"
                                   class="w-full h-11 inline-flex items-center text-right gap-3 bg-background rounded-full text-muted transition-colors hover:bg-primary hover:text-primary-foreground px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0">
                                        </path>
                                    </svg>
                                    <span class="font-semibold text-xs">ویرایش شماره تماس</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'register:change_password' %}"
                                   class="w-full h-11 inline-flex items-center text-right gap-3 bg-background rounded-full text-muted transition-colors hover:bg-primary hover:text-primary-foreground px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125">
                                        </path>
                                    </svg>
                                    <span class="font-semibold text-xs">ویرایش رمز عبور</span>
                                </a>
                            </li>
                            <li>
                                <button type="button"
                                        class="w-full h-11 inline-flex items-center text-right gap-3 bg-background rounded-full text-muted transition-colors hover:bg-primary hover:text-primary-foreground px-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                         stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                              d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15">
                                        </path>
                                    </svg>
                                    <a href="{% url 'register:logout' %}" class="font-semibold text-xs">خروج از حساب</a>
                                </button>
                            </li>
                        </ul>
                    </div>

                    <div class="lg:col-span-9 md:col-span-8">
                        <div class="space-y-10">
                            <div class="space-y-5">
                                <!-- section:title -->
                                <div class="flex items-center gap-3">
                                    <div class="flex items-center gap-1">
                                        <div class="w-1 h-1 bg-foreground rounded-full"></div>
                                        <div class="w-2 h-2 bg-foreground rounded-full"></div>
                                    </div>
                                    <div class="font-black text-foreground">دوره های من</div>
                                </div>
                                <!-- end section:title -->

                                <!-- tabs container -->
                                <div class="space-y-5" x-data="{ activeTab: 'tabOne'}">
                                    <!-- tabs:list-container -->
                                    <div class="relative overflow-x-auto">
                                        <!-- tabs:list -->
                                        <ul
                                                class="inline-flex gap-2 bg-secondary border border-border rounded-full p-1">
                                            <!-- tabs:list:item -->
                                            <li>
                                                <button type="button"
                                                        class="flex items-center gap-x-2 relative rounded-full py-2 px-4"
                                                        x-bind:class="activeTab === 'tabOne' ? 'text-foreground bg-background' : 'text-muted'"
                                                        x-on:click="activeTab = 'tabOne'">
                                                    <!-- active icon -->
                                                    <span x-show="activeTab === 'tabOne'">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                             fill="currentColor" class="w-5 h-5">
                                                            <path
                                                                    d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z">
                                                            </path>
                                                            <path
                                                                    d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z">
                                                            </path>
                                                            <path
                                                                    d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z">
                                                            </path>
                                                        </svg>
                                                    </span><!-- end active icon -->

                                                    <!-- inactive icon -->
                                                    <span x-show="activeTab !== 'tabOne'">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                             viewBox="0 0 24 24" stroke-width="1.5"
                                                             stroke="currentColor"
                                                             class="w-5 h-5">
                                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                                  d="M4.26 10.147a60.438 60.438 0 0 0-.491 6.347A48.62 48.62 0 0 1 12 20.904a48.62 48.62 0 0 1 8.232-4.41 60.46 60.46 0 0 0-.491-6.347m-15.482 0a50.636 50.636 0 0 0-2.658-.813A59.906 59.906 0 0 1 12 3.493a59.903 59.903 0 0 1 10.399 5.84c-.896.248-1.783.52-2.658.814m-15.482 0A50.717 50.717 0 0 1 12 13.489a50.702 50.702 0 0 1 7.74-3.342M6.75 15a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Zm0 0v-3.675A55.378 55.378 0 0 1 12 8.443m-7.007 11.55A5.981 5.981 0 0 0 6.75 15.75v-1.5">
                                                            </path>
                                                        </svg>
                                                    </span><!-- end inactive icon -->

                                                    <span class="font-semibold text-sm">در حال یادگیری</span>
                                                </button>
                                            </li><!-- end tabs:list:item -->

                                            <!-- tabs:list:item -->
                                        </ul>
                                        <!-- end tabs:list -->
                                    </div>
                                    <!-- end tabs:list-container -->

                                    <!-- tabs:contents -->
                                    <div>
                                        <!-- tabs:contents:tabOne -->
                                        <!-- tabs:contents:tabOne -->
                                        <div x-show="activeTab === 'tabOne'">
                                            <div class="swiper col3-swiper-slider">
                                                <div class="swiper-wrapper">
                                                    {% for item in items %}

                                                        <div class="swiper-slide">
                                                            <!-- course:card -->
                                                            <div class="relative">
                                                                <div class="relative z-10">
                                                                    <a href="{% url 'home:series_episod' item.id %}"
                                                                       class="block">
                                                                        <img src="{{ item.image.url }}"
                                                                             class="max-w-full rounded-3xl" alt="..."/>
                                                                    </a>
                                                                    <a href="{% url 'home:series' %}"
                                                                       class="absolute left-3 top-3 h-11 inline-flex items-center justify-center gap-1 bg-black/20 rounded-full text-white transition-all hover:opacity-80 px-4">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                             viewBox="0 0 24 24" fill="currentColor"
                                                                             class="w-6 h-6">
                                                                            <path fill-rule="evenodd"
                                                                                  d="M3 6a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3v2.25a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3V6ZM3 15.75a3 3 0 0 1 3-3h2.25a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3v-2.25Zm9.75 0a3 3 0 0 1 3-3H18a3 3 0 0 1 3 3V18a3 3 0 0 1-3 3h-2.25a3 3 0 0 1-3-3v-2.25Z"
                                                                                  clip-rule="evenodd"/>
                                                                        </svg>
                                                                        <span class="font-semibold text-sm">{{ item.language_kinds }}</span>
                                                                    </a>
                                                                </div>
                                                                <div class="bg-background rounded-b-3xl -mt-12 pt-12">
                                                                    <div
                                                                            class="bg-gradient-to-b from-background to-secondary rounded-b-3xl space-y-2 p-5 mx-5">
                                                                        <div class="flex items-center gap-2">
                                                                        <span
                                                                                class="block w-1 h-1 bg-success rounded-full"></span>
                                                                            <span
                                                                            {% if item.is_compeleted %}
                                                                                <span class="font-bold text-xs text-success">تکمیل شده</span>
                                                                            {% else %}
                                                                                <span class="font-bold text-xs text-red-500">تکمیل نشده</span>
                                                                            {% endif %}
                                                                        </div>
                                                                        <h2 class="font-bold text-sm">
                                                                            <a href="#"
                                                                               class="line-clamp-1 text-foreground transition-colors hover:text-primary">{{ item.title }}
                                                                            </a>
                                                                        </h2>
                                                                    </div>
                                                                    <div
                                                                            class="flex items-center justify-between gap-5">
                                                                        <div class="flex items-center gap-3">
                                                                            {% if request.user.profile_picture %}
                                                                                <div
                                                                                        class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                                                                    <img src="{{ request.user.profile_picture.url }}"
                                                                                         class="w-full h-full object-cover"
                                                                                         alt="..."/>
                                                                                </div>
                                                                            {% else %}
                                                                                <div
                                                                                        class="flex-shrink-0 w-10 h-10 rounded-full overflow-hidden">
                                                                                    <img src="{% static 'images/avatars/download.png' %}"
                                                                                         class="w-full h-full object-cover"
                                                                                         alt="..."/>
                                                                                </div>
                                                                            {% endif %}
                                                                            <div
                                                                                    class="flex flex-col items-start space-y-1">
                                                                                <span
                                                                                        class="line-clamp-1 font-semibold text-xs text-muted">مدرس
                                                                                    دوره:</span>
                                                                                <a href="#"
                                                                                   class="line-clamp-1 font-bold text-xs text-foreground hover:text-primary">
                                                                                    {{ item.author }}</a>
                                                                            </div>
                                                                        </div>

                                                                        {% if item.free == False %}
                                                                            <div class="flex flex-col items-end justify-center h-14">
                                                                                <span class="line-through text-muted">{{ item.main_price }}</span>
                                                                                <div class="flex items-center gap-1">
                                                            <span
                                                                    class="font-black text-xl text-foreground">{{ item.discount_price }}</span>
                                                                                    <span class="text-xs text-muted">تومان</span>
                                                                                </div>
                                                                            </div>
                                                                        {% else %}
                                                                            <div class="flex flex-col items-end justify-center h-14">
                                                                                <div class="flex items-center gap-1">
                                                                                    <span class="font-black text-xl text-success">رایگان!</span>
                                                                                </div>
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                        <a href="{% url 'home:series_episod' item.id %}"
                                                                           class="w-full h-11 inline-flex items-center justify-center gap-1 bg-primary rounded-full text-primary-foreground transition-all hover:opacity-80 px-4">
                                                                            <span class="font-semibold text-sm">ادامه
                                                                                یادگیری</span>
                                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                                 viewBox="0 0 20 20"
                                                                                 fill="currentColor"
                                                                                 class="w-5 h-5">
                                                                                <path fill-rule="evenodd"
                                                                                      d="M14.78 14.78a.75.75 0 0 1-1.06 0L6.5 7.56v5.69a.75.75 0 0 1-1.5 0v-7.5A.75.75 0 0 1 5.75 5h7.5a.75.75 0 0 1 0 1.5H7.56l7.22 7.22a.75.75 0 0 1 0 1.06Z"
                                                                                      clip-rule="evenodd"></path>
                                                                            </svg>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                                                                    {% endfor %}

                                                        </div>
                                                        <!-- end course:card -->

                                                </div>

                                            </div>

                                            <div class="swiper-button-prev"></div>
                                            <div class="swiper-button-next"></div>
                                        </div>
                                    </div><!-- end tabs:contents:tabOne -->

                                    <!-- tabs:contents:tabTwo -->
                                    <div x-show="activeTab === 'tabTwo'">
                                        <div
                                                class="flex flex-col items-center justify-center w-full max-w-md space-y-12 mx-auto">
                                            <img src="{% static 'images/theme/empty.svg' %}"
                                                 class="w-full max-w-xs opacity-35" alt="..."/>
                                            <div class="text-center space-y-3">
                                                <h2 class="font-bold text-xl text-foreground">
                                                    موردی یافت نشد :)
                                                </h2>
                                                <p class="font-semibold text-sm text-muted">
                                                    هنوز دوره ای به صورت کامل مشاهده نکرده اید،بعد
                                                    از اتمام دوره
                                                    هایی که در آن شرکت کرده اید می توانید از این بخش
                                                    برای
                                                    گرفتن مدرک اقدام کنید.
                                                </p>
                                            </div>
                                        </div>
                                    </div><!-- end tabs:contents:tabTwo -->
                                </div><!-- end tabs:contents -->
                            </div><!-- end tabs container -->
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </main>

    <!-- footer -->
    {% include 'includes/footer.html' %}
    <!-- end footer -->
    </div>


    <script src="{% static 'js/dependencies/alpinejs.min.js' %}"></script>
    <script src="{% static 'js/dependencies/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/dependencies/plyr.min.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    </body>

    </html>
{% endif %}
